@font-face {
    font-family: 'Migra';
    src: url('MigraItalic-ExtralightItalic.woff2') format('woff2'),
        url('MigraItalic-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Regular.woff2') format('woff2'),
        url('NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Light.woff2') format('woff2'),
        url('NeueMontreal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Supply Mono';
    src: url('PPSupplyMono-Ultralight.woff2') format('woff2'),
        url('PPSupplyMono-Ultralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('TiemposText-Regular.woff2') format('woff2'),
        url('TiemposText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Telegraf';
    src: url('PPTelegraf-UltraLight.woff2') format('woff2'),
        url('PPTelegraf-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}




body {
    color: #acacac;
    font-family: 'PP Telegraf';
    background-color: rgb(0, 0, 0);
    cursor: cell;
}

.name {
    animation-name: opacity;
    animation-duration: 1.5s;
  }

  @keyframes opacity{
    0% {opacity: 0}
    100% {opacity: 1}
}

.name.up {
    transition-duration: 1.5s;
    transform: translateY(-225px);
}

.name {
    width: 100%;
    margin-top: 16em;

}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 2vw 0 2vw;
}

.information {
    text-align: center;
    color: #acacac;
    padding-top: 1em;
}

.contact-info {
    margin-bottom: -5px;
    margin-top: -5px;
}

.responsive {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 2em;
}

p {
    font-size: 3.3vw;
} 

a {
    color: #7c7c7c;
    text-decoration: none;
}

a:active {
    color: #e7e7e7; 
}

a:visited {
    color: #7c7c7c;
}

#Migra {
    font-family: 'Migra';
    font-style: italic;
}

.container {
   display: none;

}

.container.appear {
    margin-top: -15em;
    padding-top: 3em;
    margin-left: 1rem;
    margin-right: 1rem;
    position: absolute;
    display: block;

    animation-name: opacity-two;
    animation-duration: 3s;
    /* gonna have to add an ease in or make it go fast or sumthn
    gotta work on the timing */
  }

  @keyframes opacity-two{
    0% {opacity: 0}
    100% {opacity: 1}
}


.box {
    font-size: 5vw;
    padding-bottom: 1rem;

    animation-name: opacity-three;
    animation-duration: 2s;

  }

  @keyframes opacity-three{
    0% {opacity: 0}
    100% {opacity: 1}
}

.center {
    display: flex;
    text-align: center;
}


.underline {
    text-decoration: underline;
}

.box:hover {
    color:#e7e7e7;
}

/* .footer {
    font-size: 5vw;
    width: 100%;
    transform: rotate(-90deg);
    margin-left: 9em;
} */

#blue {
    color: #94f7f2;
}

.hidden {
    display: none;
}

.hidden.active {
    display: block;
}

.small-image {
    width: 48.4%;
}

.large-image {
    width: 100%;
}

.diary-image {
    width: 100%;
    padding-top: .5em;
}

.margin {
    margin-top: -1.7em;
}

.down {
    text-align: center;
    padding-top: 8em;

    animation-name: opacity-one;
    animation-duration: 5s; 
}

@keyframes opacity-one{
0% {opacity: 0}
100% {opacity: 1}
}

