@font-face {
    font-family: 'Migra';
    src: url('MigraItalic-ExtralightItalic.woff2') format('woff2'),
        url('MigraItalic-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Regular.woff2') format('woff2'),
        url('NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Light.woff2') format('woff2'),
        url('NeueMontreal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


body {
    color: #32B740;
    font-family: 'Neue Montreal';
}

.big-body {
    animation-name: opacity;
    animation-duration: 1s;
  }
  @keyframes opacity{
    0% {opacity: 0}
    100% {opacity: 1}
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 2vw 0 2vw;
}

a {
    color: #32B740;
}

a:hover {
    color: #94f7f2;
}

a:visited {
    color: #32B740;
}



.name {
    position: fixed;
    width: 100vw;
}

.responsive {
    width: 85%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 2em;

}

p {
    font-size: 13vw;
}

#Migra {
    font-family: 'Migra';
    font-style: italic;
 
}

.container {
    padding-top: 10em;
    margin-left: 1rem;
    margin-right: 1rem;
    
}

.box {
    font-size: 5vw;
    padding-bottom: 1rem;
}

.footer {
    font-size: 5vw;
    width: 100%;
    margin-top: 3em;
    transform: rotate(-90deg);
    margin-left: 9em;
}